:host ::ng-deep .block-ui-wrapper {
    background: rgba(255, 249, 249, 0.5) !important;
  }
  
  :host ::ng-deep .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    outline: none !important;
  }
  
  ::ng-deep ngb-modal-backdrop {
    z-index: 1050 !important;
  }
  